name: Amplify Deploy

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20.5.0'

      - name: Update npm
        run: npm install -g npm@latest

      - name: Setup .npmrc file for GitHub Packages
        run: |
          echo "//npm.pkg.github.com/:_authToken=${{ secrets.GH_TOKEN }}" >> ~/.npmrc
          echo "@genflowly:registry=https://npm.pkg.github.com/" >> ~/.npmrc

      - name: Install dependencies
        run: npm ci

      - name: Build React app
        run: npm run build

      - name: Change ownership of .npm directory
        run: sudo chown -R $USER:$USER ~/.npm

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Install Amplify CLI
        run: npm install -g @aws-amplify/cli@latest

      - name: Trigger Amplify Console build
        run: |
          curl -H "Content-Type: application/json" -X POST -d '{}' "${{ secrets.AMPLIFY_WEBHOOK_URL }}"